@font-face {
    font-family: 'Futura Md BT';
    src: local('Futura Md BT Medium'), local('FuturaBT-Medium'),
        url('../fonts/FuturaBT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaBT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Md BT';
    src: local('Futura Md BT Bold Italic'), local('FuturaBT-BoldItalic'),
        url('../fonts/FuturaBT-BoldItalic.woff2') format('woff2'),
        url('../fonts/FuturaBT-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura XBlkIt BT';
    src: local('Futura Extra Black Italic BT'), local('FuturaBT-ExtraBlackItalic'),
        url('../fonts/FuturaBT-ExtraBlackItalic.woff2') format('woff2'),
        url('../fonts/FuturaBT-ExtraBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura LtCn BT';
    src: local('Futura Light Condensed BT'), local('FuturaBT-LightCondensed'),
        url('../fonts/FuturaBT-LightCondensed.woff2') format('woff2'),
        url('../fonts/FuturaBT-LightCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Hv BT';
    src: local('Futura Heavy BT'), local('FuturaBT-Heavy'),
        url('../fonts/FuturaBT-Heavy.woff2') format('woff2'),
        url('../fonts/FuturaBT-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura LT';
    src: local('Futura LT Medium'), local('FuturaLT'),
        url('../fonts/FuturaLT.woff2') format('woff2'),
        url('../fonts/FuturaLT.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Bk BT';
    src: local('Futura Book BT'), local('FuturaBT-Book'),
        url('../fonts/FuturaBT-Book.woff2') format('woff2'),
        url('../fonts/FuturaBT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Lt BT';
    src: local('Futura Lt BT Light'), local('FuturaBT-Light'),
        url('../fonts/FuturaBT-Light.woff2') format('woff2'),
        url('../fonts/FuturaBT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: local('Futura-Black Bold'), local('Futura-Black-Bold'),
        url('../fonts/Futura-Black-Bold.woff2') format('woff2'),
        url('../fonts/Futura-Black-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura LT';
    src: local('Futura LT Bold'), local('FuturaLT-Bold'),
        url('../fonts/FuturaLT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaLT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Futura XBlkCnIt BT';
    src: url('../fonts/FuturaBT-ExtraBlackCondItalic.woff2') format('woff2'),
        url('../fonts/FuturaBT-ExtraBlackCondItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
