@import "fonts.css";
@import "reset.css";

:root {
    --accent-color: #BA0000;
    --main-color: #000;
    --text-color: #fff;
    --elements-color: #fff;

    --transition: all .4s;
}

.body {
    background: var(--main-color);

    font-family: 'Futura Bk BT';
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);

}
.main__bestseller,
.main__showcase {
    margin-bottom: 160px;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    color: var(--text-color);
    font-family: "Futura Md BT";
    font-size: 64px;
    font-weight: 500;
    line-height: 100px;
    text-align: center;
    text-transform:uppercase;
}

.button {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;

    background: transparent;
    border: 1px solid var(--elements-color);
    border-radius: 36px;

    color: var(--text-color);
    font-family: "Futura Bk BT";
    font-size: 16px;
    padding: 16px 24px;
    height: 48px;

    transition: var(--transition);
}

.button:hover {
    box-shadow: 0px 5px 10px 2px #ffffff33;
}

.button::after {
    content: url(../img/icons/button-arrow.svg);
    margin-left: 8px;
}

/* ========================================================= */
.header {
    /* background: url("../img/decor/bg-header.jpg") 50% 100% / cover no-repeat; */


}

.header__inner {
    display: grid;
    grid-template: "left center right" 1fr / 1fr auto 1fr;
    gap: 15px;
    margin: 40px 40px 34px;
}

.header__menu {
    display: flex;
    gap: 40px;
    align-items: center;
    align-content: center;
    position: relative;
}

.burger-icon {
    width: 40px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 21;
}

.burger-icon span,
.burger-icon span::after,
.burger-icon span::before {
    display: block;
    width: 40px;
    height: 2px;
    background: var(--text-color);
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::after,
.burger-icon span::before {
    content: '';
    position: absolute;
}

.burger-icon span::after {
    top: -6px;
}

.burger-icon span::before {
    bottom: -6px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::after {
    top: 0;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::before {
    bottom: 0;
    transform: rotate(-45deg);
}

.burger-nav {
    background: #000000f8;
    position: fixed;
    inset: 0;
    z-index: 20;

    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);

    padding: 130px 30px 30px 120px;
}

.body--opened-menu .burger-nav {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;

}

.burger-nav__list {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.burger-nav__item {}

.burger-nav__link {}


.nav__list {
    display: flex;
    gap: 23px;
}

.nav__item {}

.nav__link {
    display: block;
    padding: 7px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    position: absolute;
    content: '';
    top: -42px;
    width: 100%;
    height: 8px;
    background: var(--accent-color);
    z-index: -1;
    transition: var(--transition);
    opacity: 0;
}

.nav__link:hover::before {
    opacity: 1;
}

.header__logo {
    width: 80px;
    /* height: 0; */
}

.header__logo img {
    width: 100%;
}

.controls__list {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}

.controls__item {}

.controls__link {}

/* ==================== widget-360 ===================================== */

.widget-360 {
    background: url("../img/decor/decor-line.svg") 50% 100% / cover no-repeat;
}

.widget__body {
    padding-top: 90px;
    padding-bottom: 120px;
    display: grid;
    position: relative;

    grid-template-columns: 156px 1fr .9fr;

}

.widget__bg-text {
    font-family: "Futura-Black";
    font-size: 128px;
    font-weight: 700;
    line-height: 128px;

    background: linear-gradient(180.00deg, #ffffff1a, #ffffff00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    position: absolute;
    z-index: -1;
    /* justify-self: center; */
    /* align-self: center; */
    margin: 65px;
    margin-left: 5%;

}

.widget__color {
    align-self: center;
}

.widget__color img {
    width: 100%;
}

.widget__content {
    max-width: 560px;
    align-self: end;
    justify-self: center;
}

.widget__content>img {
    width: 100%;
    transform: rotate(-15.54deg);
    margin-left: 15px;
    transform-origin: left bottom;

}

.widget__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.widget__controls>img {
    width: 100%;
}

.widget__product-information {
    margin: 20px 9%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.widget__product-title {
    font-family: "Futura Md BT";
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 7px;
    font-style: italic;
    text-align: left;
}

.widget__product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 426px; */
}


.widget__price {
    font-family: "Futura Hv BT";
    font-size: 36px;
    margin-right: 20px;
}

.widget__size {
    display: flex;
    align-items: center;
    gap: 15px;
}

.widget__price {
    margin-right: 19px;
}


.widget__size button {
    margin-left: 15px;
}

.widget__size-select {
    appearance: none;
    background-color: transparent;
    color: var(--text-color);
    font-family: "Futura Hv BT";
    font-size: 36px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    /* Фоновая стрелка */
    background-image: url("../img/icons/360/Arrow-drop-down2.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 15px;
    padding-right: 36px;
}

.widget__size option {
    background: var(--main-color);
    color: white;
    font-size: 28px;
    padding: 10px;
    text-align: center;
}

.widget__size option:hover {
    background: var(--main-color);
    color: white;
    font-size: 28px;
    padding: 10px;
    text-align: center;
}

.widget__button {
    font-size: 12px;
    padding: 6px 16px;
    height: 36px;
}


.widget__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3vw;
    margin: 0 40px;
}

.widget__col:first-child {
    border: none;
    align-self: center;
}

.widget__col {
    border: 2px solid var(--elements-color);
    padding: 32px;
    height: 195px;
    min-width: 300px;
    max-width: 360px;
    position: relative;

}

.widget__col img {
    position: absolute;
    left: 50%;
    bottom: 60%;
    transform: translate(-50%, 0%);
}

.widget__col-model {
    margin-top: 93px;
    font-family: "Futura LtCn BT";
    font-size: 24px;
    font-weight: 300;
    line-height: 0px;
    text-transform: uppercase;
}

.widget__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;

}

.widget__prev {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.widget__prev::before {
    content: url(../img/icons/left-arrow.svg);
    margin: 8px;
}

.widget__next {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.widget__next::after {
    content: url(../img/icons/right-arrow.svg);
    padding: 8px;
}

.labels {
    font-family: "Futura XBlkIt BT";
    font-size: 32px;
    letter-spacing: 32px;
    word-spacing: 7vw;
    position: relative;
    height: 7vw;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    margin-top: -50px;
}

.label {
    margin-top: 1.5vw;
    padding: 1.5vw 0;
    white-space: nowrap;
    text-align: center;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.label-red {
    background: var(--accent-color);
    transform: rotate(-1.91deg);
}

.label-black {
    background: var(--main-color);
    transform: rotate(2.92deg);
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

.label-red .marquee-content {
    animation-direction: normal;
}

.label-black .marquee-content {
    animation-direction: reverse;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* ========================================================= */

.main__about {
    margin: 170px 0 212px;
}

.about__wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 0 108px;
    align-items: center;
}

.about__title {
    color: var(--text-color);
    font-family: "Futura Md BT";
    font-size: 64px;
    font-weight: 500;
    line-height: 100px;
    text-align: center;
}

.about__title span {
    display: block;
}

.about__title>.first-line {
    position: relative;
    display: inline-block;
}

.about__title>.first-line::after {
    content: "";
    position: absolute;
    top: 24px;
    margin-left: 30px;
    width: 72px;
    height: 72px;
    align-self: flex-end;

    /* Множественные фоны - градиент поверх картинки */
    background:
        linear-gradient(-42.30deg,
            rgba(0, 0, 0, 1),
            rgba(187, 61, 61, 0.81) 52%,
            rgba(186, 0, 0, 0.64) 100%),
        url(../img/decor/girl.jpg);

    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.about__title>.third-line::before {
    content: "";
    margin-right: 30px;
    width: 72px;
    height: 72px;
    display: inline-block;

    /* Множественные фоны - градиент поверх картинки */
    background:
        linear-gradient(-42.30deg,
            rgba(0, 0, 0, 1),
            rgba(187, 61, 61, 0.81) 52%,
            rgba(186, 0, 0, 0.64) 100%),
        url(../img/decor/sneakers.jpg);

    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.text-container {
    position: relative;
    display: inline-block;
    /* чтобы прямоугольник не обрезался */
}

.text-mask {
    position: relative;
    z-index: 2;
}

.text-container::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 50px;
    top: 25%;
    background: var(--accent-color);
    transform: translate(0%, -50%) rotate(11.20deg);
    mix-blend-mode: multiply;
    opacity: 1;
    z-index: 3;
}

.title {}

.about__text {
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.about__button {}

/* ========================================================= */



.bestseller {}

.container {}

.bestseller__title {
    margin-bottom: 80px;
}

.bestseller__wrapper {
    display: flex;
    gap: 16px;
}


.bestseller__slide-link:hover .bestseller__slide-text {
    color: var(--text-color)
}

.bestseller__slide-link {
    flex: 1;
}

.bestseller__slide {
    position: relative;
    width: 100%;
    /* Занимает всю доступную ширину */
    aspect-ratio: 416 / 560;
    /* Сохраняем пропорции 416:560 */
    max-width: 416px;
    z-index: 1;
    display: flex;
}

.bestseller__slide-media {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-right: -100%;
}

.bestseller__slide-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.bestseller__slide-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    padding: 8px;
    z-index: 1;
}

.bestseller__slide-text {
    font-family: "Futura Md BT";
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: right;
    font-weight: bold;
    font-style: italic;

    -webkit-text-stroke: 1px var(--text-color);
    color: transparent;


    transition: var(--transition);
}
/* ========================================================= */

.main__showcase {
}
.showcase {
}
.showcase__title {
    font-family: "Futura XBlkCnIt BT";
    font-size: 96px;
    font-style: italic;
    transform: rotate(-10.67deg);
    margin-bottom: 120px;
}
.text-container--checkers{
    position: relative;
    display: inline-block;
    /* чтобы прямоугольник не обрезался */
    
}
.text-container--checkers::before {
    content: "";
    position: absolute;
    width: 237.39px;
height: 78.72px;
top: 25%;
background: url(../img/decor/decor.png);
    background-size: cover;
    transform: rotate(-15deg) skew(10deg); /* Угол наклона */
    mix-blend-mode: multiply;
    z-index: 3;
    /* Ограничиваем область видимости */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.text-mask--checkers {
    color: var(--text-color);
    position: relative;
    z-index: 2;
    display: inline-block;
}
.text-transparent{
    -webkit-text-stroke: 1px var(--text-color);
    color: transparent;
    position: relative;
        top: 65px;
    left: -100px;

}
.showcase__table-cases {
}
.showcase__case {
}
.showcase__case-product {
}
.showcase__case-object {
}
.showcase__case-stand {
}
.showcase__case-model {
}
.showcase__button {
}

/* ========================================================= */
/* ========================================================= */
/* ========================================================= */

@media (max-width: 1200px) {
    .widget__body {
        padding-top: 90px;
        padding-bottom: 50px;

        grid-template-columns: .2fr 1fr .9fr;
    }

    .widget__bg-text {
        font-size: 10vw;
        line-height: 10vw;
    }

    .widget__content {
        max-width: 44vw;
    }

    .widget__product-information {
        gap: 20px;
    }

    .widget__product-title {
        font-size: 40px;
        line-height: 40px;
    }

    .labels {
        font-size: 2.5vw;
    }

    /*-------------------*/

}

@media (max-width: 1100px) {}

@media (max-width: 900px) {
    .main__about {
        margin: 100px 0 130px;
    }

    .main__bestseller {
        margin-bottom: 130px;
    }

    .bestseller__title {
        margin-bottom: 45px;
    }

    .nav {
        display: none;
    }

    /*--*/

    .widget__body {
        padding-top: 50px;
    }

    .controls__list {
        gap: 20px;
    }

    /*--*/

    .widget__row {
        margin: 15px;
    }

    .widget__col {
        border: 2px solid var(--elements-color);
        padding: 16px;
        height: 170px;
        min-width: 250px;
    }

    .widget__col img {
        position: absolute;
        bottom: 100px;
        width: 80%;
    }

    .widget__col-model {
        margin-top: 80px;
    }

    /*-------------------*/
    .about__wrapper {
        margin: 0;
        gap: 55px;
    }

    .about__title,
    .bestseller__title {
        font-size: 40px;
        line-height: 65px;
    }

    .about__title>.first-line::after {
        top: 15px;
        margin-left: 15px;
        width: 40px;
        height: 40px;
    }

    .about__title>.third-line::before {
        content: "";
        margin-right: 15px;
        width: 40px;
        height: 40px;
    }

    .text-container::before {
        width: 150px;
        height: 30px;
        top: 27%;
    }

    .about__text {
        line-height: 40px;
    }

    /*-------------------*/

    .bestseller__wrapper {
        gap: 10px;
    }

    .bestseller__slide-text {
        font-size: 5vw;
        line-height: 5vw;
        -webkit-text-stroke-width: 0.5px;
    }

    /*-------------------*/
}

@media (max-width: 800px) {
    .widget__bg-text {
        margin: 65px 5%;

        font-size: 14vw;
        line-height: 14vw;
    }

    .widget__body {
        grid-template-columns: 0.3fr 1fr;
    }

    .widget__color {
        grid-row: span 2;
    }

    .widget__content {
        margin-top: 5%;
        max-width: 80%;
    }

    .widget__product-title {
        font-size: 5vw;
        line-height: 5vw;
    }

    .widget__price,
    .widget__size-select {
        font-size: 25px;
    }



    /*-------------------*/
}

@media (max-width: 600px) {
    .widget__body {
        grid-template-columns: 0.2fr 1fr;
        padding-bottom: 0px;
    }

    .controls__list {
        display: none;
    }

    .widget__color img {
        width: 130%;
    }

    .widget__col:first-child {
        grid-column: 1 / -1;
        height: 100%;
        padding: 0 16px 30px;
    }

    .widget__nav {
        width: 90vw;
    }

    /*-------------------*/
}

@media (max-width: 450px) {
    .widget__size button {
        margin-left: -15px;
    }

    .widget__color img {
        width: 200%;
        margin-left: -50%;
    }

    /*-------------------*/

     .about__title,
    .bestseller__title {
        font-size: 32px;
        line-height: 46px;
    }
    .about__wrapper {
        gap: 36px;
    }
    .about__title>.first-line::after {
        top: 10px;
        margin-left: 15px;
        width: 32px;
        height: 32px;
    }

    .about__title>.third-line::before {
        width: 32px;
        height: 32px;
    }

    .text-container::before {
        width: 150px;
        height: 25px;
        top: 30%;
    }

    .about__text {
        line-height: 32px;
    }

    /*-------------------*/

}